@import "tailwindcss";
/* src/index.css or src/styles.css */
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@400;500;700&display=swap');
.font-inknut {
  font-family: 'Inknut Antiqua', serif;
}
.font-hindi{
  font-family: 'Martel', serif;
  font-weight: 400;
}